html, body, #root, .App {
  height: 100%; }

.App {
  display: flex;
  flex-direction: column; }
  .App .App-Header {
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #25bb4f;
    position: relative; }
    .App .App-Header .header-logo {
      position: absolute;
      left: 0;
      min-width: 10rem; }
      .App .App-Header .header-logo img {
        width: 10rem; }
    .App .App-Header .header-search {
      display: flex;
      position: relative; }
      .App .App-Header .header-search input[type="text"] {
        width: 18rem;
        height: 1.5rem;
        text-indent: 0.25rem;
        font-size: 0.75rem;
        color: #838383;
        transition: width .5s ease;
        border: 0;
        border-radius: 2.5px;
        text-overflow: ellipsis; }
        .App .App-Header .header-search input[type="text"]:focus, .App .App-Header .header-search input[type="text"]:hover {
          width: 30rem; }
      .App .App-Header .header-search button {
        background: transparent;
        border: 0; }
        .App .App-Header .header-search button:focus {
          outline: none; }
        .App .App-Header .header-search button i {
          cursor: pointer;
          font-size: 1.15rem;
          color: white; }
          .App .App-Header .header-search button i:hover {
            color: #00ff31; }
      .App .App-Header .header-search .search-filters {
        position: absolute;
        width: 30rem;
        opacity: 0.97;
        height: 32rem;
        z-index: 1;
        padding: 1px;
        border-radius: 2.5px;
        background: #ffffff;
        border: 1px solid #24bb4f;
        border-top: none;
        margin-top: 0.15rem;
        flex-wrap: wrap;
        overflow: auto; }
        .App .App-Header .header-search .search-filters .filter {
          margin: 0.5rem;
          padding: 0.5rem;
          font-size: 0.75rem;
          border-bottom: 1px solid #e2e2e2; }
          .App .App-Header .header-search .search-filters .filter .filter-label {
            margin: 0.25rem 0 0.5rem 0;
            color: #4c9861; }
          .App .App-Header .header-search .search-filters .filter .filter-ctrls {
            margin-bottom: 1rem; }
            .App .App-Header .header-search .search-filters .filter .filter-ctrls input[type=range] {
              width: 100%;
              -webkit-appearance: none;
              outline: none;
              background: #a2a2a2;
              height: 2px;
              border-radius: 10px; }
            .App .App-Header .header-search .search-filters .filter .filter-ctrls input[type=range]::-webkit-slider-thumb {
              -webkit-appearance: none;
              height: 15px;
              width: 15px;
              border-radius: 10px;
              background: #1d9a40;
              cursor: pointer;
              border: none; }
            .App .App-Header .header-search .search-filters .filter .filter-ctrls .buttonList {
              display: flex;
              flex-wrap: wrap; }
              .App .App-Header .header-search .search-filters .filter .filter-ctrls .buttonList .inputBtn {
                margin: 0.15rem;
                min-width: 5.5rem;
                padding: 0.25rem;
                display: flex;
                align-items: center;
                font-size: 0.75rem;
                background: #f2f2f2;
                border-radius: 2.5px; }
              .App .App-Header .header-search .search-filters .filter .filter-ctrls .buttonList .fa {
                margin-left: 0.55rem;
                color: #757575; }
              .App .App-Header .header-search .search-filters .filter .filter-ctrls .buttonList input {
                margin-right: 0.55rem; }
            .App .App-Header .header-search .search-filters .filter .filter-ctrls .priceRng {
              justify-content: space-evenly; }
              .App .App-Header .header-search .search-filters .filter .filter-ctrls .priceRng .inputBtn {
                background: transparent; }
              .App .App-Header .header-search .search-filters .filter .filter-ctrls .priceRng input {
                margin-left: 0.55rem;
                width: 5rem;
                height: 1rem;
                text-indent: 0.25rem; }
  .App .App-Content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 1rem; }
    .App .App-Content pre {
      background: #e8e8e8;
      padding: 2rem; }

.forceWidth {
  width: 30rem !important; }
